.custom-button {
    background-color: #4A90E2; /* Change the background color */
    color: white; /* Text color */
    border: none; /* Remove the border */
    border-radius: 5px;
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Add a pointer cursor on hover */
}

.button-container{
    margin-top: 20px;
    margin-bottom: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}